<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>Rest API</h2>
<p>Server ip: {{serverIp}}</p>
<ul>
    <li> <a href="{{apiUrl}}ping">Ping</a></li>
    <li> <a href="{{apiUrl}}start">Start</a></li>
    <li> <a href="{{apiUrl}}stop">Stop</a></li>
</ul>